<div>
  <div class="addListContainer">
    <span class="addListTitle">Ajouter une liste</span>
    <input type="text" [(ngModel)]="addListInputValue" class="form-control" />
    <button (click)="addList()" class="addButton"> + </button>
  </div>
  <div class="container-lists">
    <div *ngFor="let list of data" class="lists">
      <div class="lign-title-list">
        <div class="title-list">{{ list.name }}</div>
        <button class="deleteButton"> X </button>
      </div>
      <ul>
        <li *ngFor="let item of list.items" class="list-group-item">{{ item.text }}<button
            class="deleteButton"> X </button>
        </li>
      </ul>
      <div class="addElement">
        <input type="text" [(ngModel)]="addInputValues[i]" class="form-control"/>
        <button (click)="handleAddElement(list.id, i)" class="addButton"> + </button>
      </div>
    </div>
  </div>
</div>
  